<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<novaposhta_catalog>
			<schedule>
                <active>1</active>
			</schedule>
			<catalog>
				<active>1</active>
			</catalog>
			<directory_map>
                <sync>
                    <item1>
                        <novaposhta>71508129-9b87-11de-822f-000c2965ae0e</novaposhta>
                        <magento>UA-05</magento>
                    </item1>
                    <item2>
                        <novaposhta>7150812a-9b87-11de-822f-000c2965ae0e</novaposhta>
                        <magento>UA-07</magento>
                    </item2>
                    <item3>
                        <novaposhta>7150812b-9b87-11de-822f-000c2965ae0e</novaposhta>
                        <magento>UA-12</magento>
                    </item3>
                    <item4>
                        <novaposhta>7150812c-9b87-11de-822f-000c2965ae0e</novaposhta>
                        <magento>UA-14</magento>
                    </item4>
                    <item5>
                        <novaposhta>7150812d-9b87-11de-822f-000c2965ae0e</novaposhta>
                        <magento>UA-18</magento>
                    </item5>
                    <item6>
                        <novaposhta>7150812e-9b87-11de-822f-000c2965ae0e</novaposhta>
                        <magento>UA-21</magento>
                    </item6>
                    <item7>
                        <novaposhta>7150812f-9b87-11de-822f-000c2965ae0e</novaposhta>
                        <magento>UA-23</magento>
                    </item7>
                    <item8>
                        <novaposhta>71508130-9b87-11de-822f-000c2965ae0e</novaposhta>
                        <magento>UA-26</magento>
                    </item8>
                    <item9>
                        <novaposhta>71508131-9b87-11de-822f-000c2965ae0e</novaposhta>
                        <magento>UA-32</magento>
                    </item9>
                    <item10>
                        <novaposhta>71508132-9b87-11de-822f-000c2965ae0e</novaposhta>
                        <magento>UA-35</magento>
                    </item10>
                    <item11>
                        <novaposhta>71508133-9b87-11de-822f-000c2965ae0e</novaposhta>
                        <magento>UA-09</magento>
                    </item11>
                    <item12>
                        <novaposhta>71508134-9b87-11de-822f-000c2965ae0e</novaposhta>
                        <magento>UA-46</magento>
                    </item12>
                    <item13>
                        <novaposhta>71508135-9b87-11de-822f-000c2965ae0e</novaposhta>
                        <magento>UA-48</magento>
                    </item13>
                    <item14>
                        <novaposhta>71508136-9b87-11de-822f-000c2965ae0e</novaposhta>
                        <magento>UA-51</magento>
                    </item14>
                    <item15>
                        <novaposhta>71508137-9b87-11de-822f-000c2965ae0e</novaposhta>
                        <magento>UA-53</magento>
                    </item15>
                    <item16>
                        <novaposhta>71508138-9b87-11de-822f-000c2965ae0e</novaposhta>
                        <magento>UA-56</magento>
                    </item16>
                    <item17>
                        <novaposhta>71508139-9b87-11de-822f-000c2965ae0e</novaposhta>
                        <magento>UA-59</magento>
                    </item17>
                    <item18>
                        <novaposhta>7150813a-9b87-11de-822f-000c2965ae0e</novaposhta>
                        <magento>UA-61</magento>
                    </item18>
                    <item19>
                        <novaposhta>7150813b-9b87-11de-822f-000c2965ae0e</novaposhta>
                        <magento>UA-63</magento>
                    </item19>
                    <item20>
                        <novaposhta>7150813c-9b87-11de-822f-000c2965ae0e</novaposhta>
                        <magento>UA-65</magento>
                    </item20>
                    <item21>
                        <novaposhta>7150813d-9b87-11de-822f-000c2965ae0e</novaposhta>
                        <magento>UA-68</magento>
                    </item21>
                    <item22>
                        <novaposhta>7150813e-9b87-11de-822f-000c2965ae0e</novaposhta>
                        <magento>UA-71</magento>
                    </item22>
                    <item23>
                        <novaposhta>7150813f-9b87-11de-822f-000c2965ae0e</novaposhta>
                        <magento>UA-77</magento>
                    </item23>
                    <item24>
                        <novaposhta>71508140-9b87-11de-822f-000c2965ae0e</novaposhta>
                        <magento>UA-74</magento>
                    </item24>
                    <item25>
                        <novaposhta>71508131-9b87-11de-822f-000c2965ae0e</novaposhta>
                        <magento>UA-30</magento>
                    </item25>
                    <item26>
                        <novaposhta>71508128-9b87-11de-822f-000c2965ae0e</novaposhta>
                        <magento>UA-43</magento>
                    </item26>
                </sync>
            </directory_map>
		</novaposhta_catalog>
	</default>
</config>
